<div class="fixed z-0 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
    <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
        <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
        <div
            class="inline-block align-bottom bg-white rounded-lg text-left shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
            <div class="bg-white dark:bg-gray-300 px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                <div class="sm:flex sm:items-start">
                    <div class="mt-1 text-center sm:mt-0 sm:ml-4 sm:text-left">
                        <h3 class="text-lg leading-6 font-medium" id="modal-title">
                            Crear usuario
                        </h3>
                        <div class="mt-0">
                            <form class="w-full max-w-lg" [formGroup]="newUserFormGroup">
                                <div class="flex flex-wrap -mx-3 mb-6">
                                    <mat-form-field class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                                        <mat-label
                                            class="block uppercase tracking-wide text-xs mb-2"
                                            for="grid-first-name">
                                            NOMBRE
                                        </mat-label>
                                        <input
                                            matInput
                                            maxlength="15"
                                            class="appearance-none block w-full"
                                            id="grid-first-name" type="text" placeholder="Nombre" formControlName="name">
                                        <mat-error *ngFor="let validation of validations.name">
                                            <mat-error *ngIf="newUserFormGroup.get('name')?.hasError(validation.type) && (newUserFormGroup.get('name')?.dirty || newUserFormGroup.get('name')?.touched)"
                                                class="text-red-500 text-xs italic">
                                                {{validation.message}}
                                            </mat-error>
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                                        <mat-label
                                            class="block uppercase tracking-wide text-xs mb-2"
                                            for="grid-last-name">
                                            APELLIDO
                                        </mat-label>
                                        <input
                                            matInput
                                            maxlength="15"
                                            class="appearance-none block w-full"
                                            id="grid-last-name" type="text" placeholder="Apellido" formControlName="lastname">
                                        <mat-error *ngFor="let validation of validations.lastname">
                                            <mat-error *ngIf="newUserFormGroup.get('lastname')?.hasError(validation.type) && (newUserFormGroup.get('lastname')?.dirty || newUserFormGroup.get('lastname')?.touched)"
                                                class="text-red-500 text-xs italic">
                                                {{validation.message}}
                                            </mat-error>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                
                                <div class="flex flex-wrap -mx-3 mb-6">
                                    <mat-form-field class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                                        <mat-label
                                            class="block uppercase tracking-wide text-xs mb-2"
                                            for="grid-username">
                                            NOMBRE DE USUARIO
                                        </mat-label>
                                        <input
                                            matInput
                                            maxlength="30"
                                            class="appearance-none block w-full"
                                            id="grid-username" type="text" placeholder="Matti" formControlName="username">
                                        <mat-error *ngFor="let validation of validations.username">
                                            <mat-error *ngIf="newUserFormGroup.get('username')?.hasError(validation.type) && (newUserFormGroup.get('username')?.dirty || newUserFormGroup.get('username')?.touched)"
                                                class="text-red-500 text-xs italic">
                                                {{validation.message}}
                                            </mat-error>
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                                        <mat-label
                                            class="block uppercase tracking-wide text-xs mb-2"
                                            for="grid-first-name">
                                            CORREO ELECTRÓNICO
                                        </mat-label>
                                        <input
                                            matInput
                                            maxlength="30"
                                            class="appearance-none block w-full"
                                            id="grid-first-name" type="text" placeholder="ejemplo@correo.com" formControlName="email">
                                        <mat-error *ngFor="let validation of validations.email">
                                            <mat-error *ngIf="newUserFormGroup.get('email')?.hasError(validation.type) && (newUserFormGroup.get('email')?.dirty || newUserFormGroup.get('email')?.touched)"
                                                class="text-red-500 text-xs italic">
                                                {{validation.message}}
                                            </mat-error>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                
                                <div class="flex flex-wrap -mx-3 mb-6">
                                    <mat-form-field class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                                        <mat-label
                                            class="block uppercase tracking-wide text-xs mb-2"
                                            for="grid-date">
                                            FECHA DE NACIMIENTO
                                        </mat-label>
                                        <input
                                            matInput
                                            maxlength="30"
                                            class="appearance-none block w-full"
                                            id="grid-date" type="date" placeholder="" formControlName="date">
                                        <mat-error *ngFor="let validation of validations.date">
                                            <mat-error *ngIf="newUserFormGroup.get('date')?.hasError(validation.type) && (newUserFormGroup.get('date')?.dirty || newUserFormGroup.get('date')?.touched)"
                                                class="text-red-500 text-xs italic">
                                                {{validation.message}}
                                            </mat-error>
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                                        <mat-label
                                            class="block uppercase tracking-wide text-xs mb-2"
                                            for="grid-gender">
                                            GENERO
                                        </mat-label>
                                            <mat-select 
                                            matNativeControl 
                                            class="appearance-none block w-full"
                                            id="grid-gender"
                                            formControlName="gender"
                                            placeholder="Seleccione una opción"
                                            >
                                              <mat-option value="masculino">Masculino</mat-option>
                                              <mat-option value="femenino">Femenino</mat-option>
                                              <mat-option value="otro">Otro</mat-option>
                                            </mat-select>
                                          
                                        <mat-error *ngFor="let validation of validations.gender">
                                            <mat-error *ngIf="newUserFormGroup.get('gender')?.hasError(validation.type) && (newUserFormGroup.get('gender')?.dirty || newUserFormGroup.get('gender')?.touched)"
                                                class="text-red-500 text-xs italic">
                                                {{validation.message}}
                                            </mat-error>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <!--tratar de meter este elemento en un mat-form-field sin que genere error en la vista-->
                              <div class="flex justify-center">
                                    <div class="mb-3 w-96">
                                      <mat-label for="grid-image" class="form-label inline-block mb-2 text-gray-700">
                                        FOTO DE PERFIL
                                      </mat-label>
                                      <input 
                                      class="
                                      appearance-none
                                      form-control
                                      block
                                      w-full
                                      px-3
                                      py-1.5
                                      text-XS
                                      font-normal
                                      text-gray-700
                                      bg-clip-padding
                                      border border-solid border-gray-300
                                      rounded
                                      transition
                                      ease-in-out
                                      m-0
                                      focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" 
                                      type="file" 
                                      id="grid-image"
                                      formControlName="image">
                                      <mat-error *ngFor="let validation of validations.image">
                                        <mat-error *ngIf="newUserFormGroup.get('image')?.hasError(validation.type) && (newUserFormGroup.get('image')?.dirty || newUserFormGroup.get('image')?.touched)"
                                            class="text-red-500 text-xs italic">
                                            {{validation.message}}
                                        </mat-error>
                                    </mat-error>
                                    </div>
                                  </div>
                                
                                <div class="flex flex-wrap -mx-3 mb-2">
                                    <mat-form-field class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                                        <mat-label
                                            class="block uppercase tracking-wide text-xs mb-2"
                                            for="grid-first-name">
                                            TELÉFONO
                                        </mat-label>
                                        <input
                                            matInput
                                            maxlength="30"
                                            class="appearance-none block w-full"
                                            id="grid-first-name" type="text" placeholder="3131313131" formControlName="phone">
                                        <mat-error *ngFor="let validation of validations.phone">
                                            <mat-error *ngIf="newUserFormGroup.get('phone')?.hasError(validation.type) && (newUserFormGroup.get('phone')?.dirty || newUserFormGroup.get('phone')?.touched)"
                                                class="text-red-500 text-xs italic">
                                                {{validation.message}}
                                            </mat-error>
                                        </mat-error>
                                    </mat-form-field>
                                </div>

                                <div class="flex flex-wrap -mx-3 mb-2">
                                    <mat-form-field class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                                        <mat-label
                                            class="block uppercase tracking-wide text-xs mb-2"
                                            for="grid-password">
                                            CONTRASEÑA
                                        </mat-label>
                                        <input
                                            matInput
                                            maxlength="30"
                                            class="appearance-none block w-full"
                                            id="grid-password" type="password" placeholder="Contraseña123" formControlName="password">
                                        <mat-error *ngFor="let validation of validations.password">
                                            <mat-error *ngIf="newUserFormGroup.get('password')?.hasError(validation.type) && (newUserFormGroup.get('password')?.dirty || newUserFormGroup.get('password')?.touched)"
                                                class="text-red-500 text-xs italic">
                                                {{validation.message}}
                                            </mat-error>
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                                        <mat-label
                                            class="block uppercase tracking-wide text-xs mb-2"
                                            for="grid-password">
                                            CONFIRMAR CONTRASEÑA
                                        </mat-label>
                                        <input
                                            matInput
                                            maxlength="30"
                                            class="appearance-none block w-full"
                                            id="grid-password" type="password" placeholder="Contraseña123" formControlName="password">
                                        <mat-error *ngFor="let validation of validations.password">
                                            <mat-error *ngIf="newUserFormGroup.get('password')?.hasError(validation.type) && (newUserFormGroup.get('password')?.dirty || newUserFormGroup.get('password')?.touched)"
                                                class="text-red-500 text-xs italic">
                                                {{validation.message}}
                                            </mat-error>
                                        </mat-error>
                                    </mat-form-field>
                                    
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-gray-50 dark:bg-gray-400 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                <button type="button"
                    (click)="onClick()"
                    class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-blue-600 text-base font-medium text-white hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 sm:ml-3 sm:w-auto sm:text-sm">
                    Guardar
                </button>
                <button type="button"
                    class="mt-3 w-full inline-flex justify-center rounded-md border border-red-500 shadow-sm px-4 py-2 bg-red-500 text-base font-medium text-white hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm"
                    (click)="onNoClick()">
                    Cancelar
                </button>
            </div>
        </div>
    </div>
</div>
