<div class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
    <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
        <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
        <div
            class="inline-block align-bottom bg-white rounded-lg text-left shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
            <div class="bg-white dark:bg-gray-300 px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                <div class="sm:flex sm:items-start">
                    <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                        <h3 class="text-lg leading-6 font-medium" id="modal-title">
                            Crear Servicio
                        </h3>
                        <div class="mt-2">
                            <form class="w-full max-w-lg" [formGroup]="newServiceFormGroup">
                                <div class="flex flex-wrap -mx-3 mb-6">

                                    <mat-form-field class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                                      <mat-label
                                          class="block uppercase tracking-wide text-xs mb-2"
                                          for="grid-id">
                                          NUMERO SERVICIO
                                      </mat-label>
                                      <input
                                          matInput
                                          maxlength="15"
                                          class="appearance-none block w-full"
                                          id="grid-id" type="text" placeholder="Nombre servicio" formControlName="id">
                                      <mat-error *ngFor="let validation of validations.id">
                                          <mat-error *ngIf="newServiceFormGroup.get('id')?.hasError(validation.type) && (newServiceFormGroup.get('id')?.dirty || newServiceFormGroup.get('id')?.touched)"
                                              class="text-red-500 text-xs italic">
                                              {{validation.message}}
                                          </mat-error>
                                      </mat-error>
                                  </mat-form-field>
                                  <mat-form-field class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                                    <mat-label
                                        class="block uppercase tracking-wide text-xs mb-2"
                                        for="grid-name">
                                        NOMBRE
                                    </mat-label>
                                    <input
                                        matInput
                                        maxlength="15"
                                        class="appearance-none block w-full"
                                        id="grid-name" type="text" placeholder="Nombre servicio" formControlName="name">
                                    <mat-error *ngFor="let validation of validations.name">
                                        <mat-error *ngIf="newServiceFormGroup.get('name')?.hasError(validation.type) && (newServiceFormGroup.get('name')?.dirty || newServiceFormGroup.get('name')?.touched)"
                                            class="text-red-500 text-xs italic">
                                            {{validation.message}}
                                        </mat-error>
                                    </mat-error>
                                </mat-form-field>
                                </div>
                                <div class="flex flex-wrap -mx-3 mb-2">
                                    <mat-form-field class="w-full md:w-full px-3 mb-6 md:mb-0">
                                        <mat-label
                                            class="block uppercase tracking-wide text-xs mb-2"
                                            for="grid-description">
                                            DESCRIPCIÓN
                                        </mat-label>
                                        <textarea
                                            matInput
                                            maxlength="200"
                                            class="appearance-none block w-full"
                                            cols="30" rows="10"
                                            id="grid-description" type="text" placeholder="Descripción" formControlName="description"
                                        ></textarea>
                                        <mat-error *ngFor="let validation of validations.description">
                                            <mat-error *ngIf="newServiceFormGroup.get('description')?.hasError(validation.type) && (newServiceFormGroup.get('description')?.dirty || newServiceFormGroup.get('description')?.touched)"
                                                class="text-red-500 text-xs italic">
                                                {{validation.message}}
                                            </mat-error>
                                        </mat-error>
                                    </mat-form-field>
                                </div>

                                <div class="flex flex-wrap -mx-3 mb-2">
                                    <mat-form-field class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                                        <mat-label
                                            class="block uppercase tracking-wide text-xs mb-2"
                                            for="grid-company">
                                            LOCAL
                                        </mat-label>
                                        <mat-select
                                        matInput
                                            maxlength="30"
                                            class="appearance-none block w-full"
                                            id="grid-company" type="text" placeholder="3131313131" formControlName="company">
                                            <mat-option selected>Seleccione una opción</mat-option>
                                            <mat-option value="local 1">local 1</mat-option>
                                        </mat-select>
                                        <mat-error *ngFor="let validation of validations.company">
                                            <mat-error *ngIf="newServiceFormGroup.get('company')?.hasError(validation.type) && (newServiceFormGroup.get('company')?.dirty || newServiceFormGroup.get('company')?.touched)"
                                                class="text-red-500 text-xs italic">
                                                {{validation.message}}
                                            </mat-error>
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                                        <mat-label
                                            class="block uppercase tracking-wide text-xs mb-2"
                                            for="grid-stylist">
                                            ESTILISTA
                                        </mat-label>
                                        <mat-select
                                        matInput
                                            maxlength="30"
                                            class="appearance-none block w-full"
                                            id="grid-stylist" type="text" placeholder="3131313131" formControlName="stylist">
                                            <mat-option selected>Seleccione una opción</mat-option>
                                            <mat-option value="local 1">Empleado 1</mat-option>
                                        </mat-select>
                                        <mat-error *ngFor="let validation of validations.stylist">
                                            <mat-error *ngIf="newServiceFormGroup.get('stylist')?.hasError(validation.type) && (newServiceFormGroup.get('stylist')?.dirty || newServiceFormGroup.get('stylist')?.touched)"
                                                class="text-red-500 text-xs italic">
                                                {{validation.message}}
                                            </mat-error>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-gray-50 dark:bg-gray-400 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                <button type="button"
                    (click)="onClick()"
                    class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-blue-600 text-base font-medium text-white hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 sm:ml-3 sm:w-auto sm:text-sm">
                    Guardar
                </button>
                <button type="button"
                    class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm"
                    (click)="onNoClick()">
                    Cancelar
                </button>
            </div>
        </div>
    </div>
</div>
